  .container {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  button {
    padding: 1rem;
    background-color: yellow;
  }
  
  #coin {
    position: relative;
    width: 20rem;
    height: 20rem;
    margin: 2rem 0rem;
    transform-style: preserve-3d;
  }
  
  #coin div {
    width: 100%;
    height: 100%;
    background-size: contain;
    position: absolute;
  }
  
  .head {
      background-image: url("../img/Head.png");
  }
  
  .animate-head {
    animation: flipHead 3s;
    animation-fill-mode: forwards;
  }
  
  .tail {
      background-image: url("../img/Tail.png");
    transform: rotateY(-180deg);
  }
  
  .animate-tail {
    animation: flipTail 3s;
    animation-fill-mode: forwards;
  }
  
  @keyframes flipHead {
    from {
      transform: rotateY(0deg);
    }
    to {
      transform: rotateY(1800deg);
    }
  }
  
  @keyframes flipTail {
    from {
      transform: rotateY(0deg);
    }
    to {
      transform: rotateY(1620deg);
    }
  }