/* for 2 columns */
body{
    background-color: #242121;
    color: #F8C25C;
}
.userButtons{
	color: green;
}
.column {
    text-align: center;
	width: 40%;
	padding: 10px;
}
.middle-column{
	position: relative;
	width: 40%;
	padding: 10px;
}

.buttonDiv{
    display: inline-block;
}
button {
    display:inline-block;
	padding: 1rem;
	background-color: #F8C25C;
	color: #242121;
	width: 5rem;
}
.flipButton{
	display: none;
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.row{
	display: flex;
}
.container {
	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.errorMessage{
	display: none;
}

@media only screen and (max-width: 300px) {
	.main{
		display: none;
	}
	.errorMessage{
		text-align: center;
		color: #F8C25C;
		display: block;
	}
}